.btn {
  padding: 0.7rem 1.5rem;
  border-radius: 0.5rem;
  white-space: nowrap;
  text-decoration: none;
  font-size: 0.8rem;
}

.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}
