.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.btn {
  padding: 0.7rem 1.5rem;
  border-radius: 0.5rem;
  white-space: nowrap;
  text-decoration: none;
  font-size: 0.8rem;
}

.container {
  margin: 1.5rem 0.5rem 0;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.copy-delete {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.actions-btn {
  cursor: pointer;
  background: none;
  border: none;
}
